// nav menus link treatment
.sections ul li.menu-expanded {
	border-right-color: #bbb;
	border-left-color: #bbb;
	background: rgb(255, 255, 255);

	a {
		color: #9B1518;
	}
}

/* drop menu formatting */
div.menu {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 300;
	background: rgb(255, 255, 255);
	overflow: hidden;
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.4);
	box-shadow: 0 10px 6px rgba(0,0,0,.4);
	width: 100%;
}

div.menu-expanded {
	display: block;
}

@media screen and (min-width: 54.000em) {
// 810px

	// content within section drop
	.menu div.content {
		width: auto;
		padding: 20px 24px 0 20px;
		overflow: hidden;
		float: none;
		display: block;
		border: 1px solid #bbb;
		border-top: none;
		margin: 0;
	}
	.lt-ie8 .menu div.content {
		padding-bottom: 20px;
	}

	// menu specific
	.menu-feature {
		float: left;
		width: 12%;
		border-right: 1px solid rgb(251,251,251);
		padding-right: 2%;
		margin-right: 2%;
		text-align: center;
	 }
	//

	.menu .latest-headlines {
		float: left;
		width: 36%;
		border-right: 1px solid rgb(251,251,251);
		text-align: left;
		padding: 0 2% 10px 0;

			ul {
				margin-top: .7em;
			}

			li a {
				padding: .7em 0;
				border-top: 1px solid rgb(251,251,251);
			}

			#contain & {

				li {
					clear: both;
					text-align: left;
					float: none;
					background: none;
					width:auto;
					zoom: 1;
				}

			}

	}
	//

	.menu-more {
		float: left;
		width: 25%;
		padding-left: 20px;
		text-align: left;

			#contain & {

				li {
					clear: both;
					text-align: left;
					float: none;
					background: none;
					width:auto;
					zoom: 1;
					font-size: 1em;
					text-transform: uppercase;
					font-family: "Helvetica", Arial, sans-serif;
				}

				li a {
					padding: .7em 0;
					display: block;
					border-right:none;
				}

				ul {
					float: left;
					width: 50%;
					padding-bottom: 10px;
				}

			}
	}
	//

	.lt-ie8 #contain .menu-more ul { width: 49%; }

}

@media screen and (min-width: 1200px){
	.sections li.nth-1 a.menu-expanded {
		border-left: none;
	}
}
