/* line 12, ../scss/ui-style.scss */
a, a:visited {
  color: #3872c9; }

/* line 17, ../scss/ui-style.scss */
table.rainbow {
  background: #2f2f2f;
  border: 1px solid #ddd; }

/* line 23, ../scss/ui-style.scss */
.guide {
  list-style: none;
  *zoom: 1;
  *zoom: 1; }
  /* line 94, ../scss/mixins/_mixins.scss */
  .guide:before, .guide:after {
    content: "";
    display: table; }
  /* line 98, ../scss/mixins/_mixins.scss */
  .guide:after {
    clear: both; }

/* line 29, ../scss/ui-style.scss */
.guide ul {
  list-style: none;
  width: 12em; }

/* line 34, ../scss/ui-style.scss */
.guide a {
  padding: 10px 15px;
  color: #333333;
  text-decoration: none;
  font-size: 1.167em;
  font-weight: 700; }

/* line 42, ../scss/ui-style.scss */
.guide li {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0; }

/* line 48, ../scss/ui-style.scss */
.guide > li {
  float: left; }

/*.guide > li > .parent {
	background-image: url("../img/icons/downArrow.png");
	background-repeat: no-repeat;
	background-position: right;
}*/
/* line 58, ../scss/ui-style.scss */
.guide > li > a {
  display: block;
  color: #333333; }

/* line 63, ../scss/ui-style.scss */
.guide > li > a.parent {
  padding-right: 33.75px; }

/* line 67, ../scss/ui-style.scss */
.guide > li > a.parent:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #333333 transparent transparent transparent;
  margin-right: 16px;
  margin-top: -2.5px;
  position: absolute;
  right: 0;
  top: 18px; }

/* line 80, ../scss/ui-style.scss */
.guide li ul {
  position: absolute;
  left: -9999px; }

/* line 84, ../scss/ui-style.scss */
.guide > li.hover > ul {
  left: 0; }

/* line 87, ../scss/ui-style.scss */
.guide li li.hover ul {
  left: 100%;
  top: 0; }

/* line 92, ../scss/ui-style.scss */
.guide > li:hover,
.guide > li:focus {
  background: #d1d1d1; }

/* line 96, ../scss/ui-style.scss */
.guide li li a,
.guide li.active li a {
  display: block;
  position: relative;
  z-index: 100;
  color: black;
  background: #d1d1d1;
  border-top: 1px solid #8c8c8c; }

/* line 105, ../scss/ui-style.scss */
.guide li li a:hover,
.guide li li a:focus {
  display: block;
  position: relative;
  z-index: 100;
  color: black;
  background: #e9e9e9;
  border-top: 1px solid #a28e5c; }

/* line 113, ../scss/ui-style.scss */
.guide li.active a {
  color: white;
  background: #964d5d;
  font-weight: 800; }

@media only screen and (min-width: 51em) {
  /*  min-width: 768px */
  /* line 122, ../scss/ui-style.scss */
  .active {
    display: block; }

  /* line 126, ../scss/ui-style.scss */
  .guide > li {
    float: none; }

  /* line 130, ../scss/ui-style.scss */
  .guide > li > .parent {
    background-position: 95% 50%; }

  /* line 134, ../scss/ui-style.scss */
  .guide ul {
    display: block;
    width: 100%; }

  /* line 139, ../scss/ui-style.scss */
  .guide > li.hover > ul, .guide li li.hover ul {
    position: static; }

  /* line 143, ../scss/ui-style.scss */
  .guide li.active a {
    color: white;
    background: #333333;
    font-weight: 800; } }
/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
/* line 7, ../scss/theme/github.scss */
pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px; }

/* line 15, ../scss/theme/github.scss */
code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px; }

/* line 22, ../scss/theme/github.scss */
pre code {
  border: 0px;
  padding: 0px;
  margin: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

/* line 31, ../scss/theme/github.scss */
pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* line 40, ../scss/theme/github.scss */
pre, pre code {
  font-size: 1em; }

/* line 44, ../scss/theme/github.scss */
pre .comment {
  color: #998; }

/* line 49, ../scss/theme/github.scss */
pre .support,
pre .support.close {
  color: #0086B3;
  font-size: 1em;
  float: none; }

/* line 55, ../scss/theme/github.scss */
pre .tag, pre .tag-name {
  color: navy; }

/* line 59, ../scss/theme/github.scss */
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
  font-weight: bold; }

/* line 63, ../scss/theme/github.scss */
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
  color: #333; }

/* line 67, ../scss/theme/github.scss */
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
  font-weight: normal;
  color: #099; }

/* line 72, ../scss/theme/github.scss */
pre .entity.class {
  color: #458; }

/* line 76, ../scss/theme/github.scss */
pre .entity.id, pre .entity.function {
  color: #900; }

/* line 80, ../scss/theme/github.scss */
pre .attribute, pre .variable {
  color: teal; }

/* line 84, ../scss/theme/github.scss */
pre .string, pre .support.value {
  font-weight: normal;
  color: #d14; }

/* line 89, ../scss/theme/github.scss */
pre .regexp {
  color: #009926; }

/* line 93, ../scss/theme/github.scss */
.rainbow {
  padding: 0;
  font-size: 0.9em; }

/* line 97, ../scss/theme/github.scss */
.rainbow tbody {
  background: white; }

/* line 100, ../scss/theme/github.scss */
.rainbow tr:nth-of-type(even) {
  background: none; }

/* line 103, ../scss/theme/github.scss */
.rainbow .rainbow-header {
  background-color: #1a1a1a;
  color: #444; }

/* line 107, ../scss/theme/github.scss */
.rainbow .rainbow-header > th {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  border-left: 0;
  border-right: 0;
  color: #444; }

/* line 115, ../scss/theme/github.scss */
.rainbow-header .rainbow-language {
  text-align: right;
  padding: 0.5em; }

/* line 120, ../scss/theme/github.scss */
.rainbow .rainbow-line:hover {
  background-color: #151515; }

/* line 125, ../scss/theme/github.scss */
.rainbow-line:hover .rainbow-line-number {
  background-color: #0e0e0e; }

/* line 130, ../scss/theme/github.scss */
.rainbow-line .rainbow-line-number {
  text-align: right;
  vertical-align: top;
  border: 0;
  color: white;
  background-color: #1a1a1a;
  padding-left: 0.4em;
  padding-right: 0.4em; }

/* line 142, ../scss/theme/github.scss */
.rainbow-line .rainbow-line-number:before {
  content: attr(data-number); }

/* line 146, ../scss/theme/github.scss */
.rainbow-line .rainbow-line-code {
  padding-left: 1em;
  width: 100%;
  border: 0; }

/**
 * Solarized Light theme
 *
 * Adaptation of Solarized Light from ethanschoonover.com/solarized
 *
 * @author Ethan Schoonover
 * @author David Litmark
 * @version 1.0.0
 */
/* line 10, ../scss/theme/solarized-light.scss */
pre {
  background: #fdf6e3;
  /* base3 */
  background: #f8f8f8;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
  padding: 10px;
  color: #657b83;
  /* base00 */
  font-size: 14px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: scroll; }

/* line 24, ../scss/theme/solarized-light.scss */
pre, code {
  font-family: 'Monaco', courier, monospace; }

/* line 28, ../scss/theme/solarized-light.scss */
pre .comment {
  color: #93a1a1;
  /* base1 */ }

/* line 32, ../scss/theme/solarized-light.scss */
pre .constant {
  color: #657b83;
  /* base00 */ }

/* line 36, ../scss/theme/solarized-light.scss */
pre .constant.language {
  color: #268bd2;
  /* blue */ }

/* line 40, ../scss/theme/solarized-light.scss */
pre .constant.regexp {
  color: #2aa198;
  /* cyan */ }

/* line 44, ../scss/theme/solarized-light.scss */
pre .storage {
  color: #268bd2;
  /* blue */ }

/* line 48, ../scss/theme/solarized-light.scss */
pre .string, pre .comment.docstring {
  color: #2aa198;
  /* cyan */ }

/* line 52, ../scss/theme/solarized-light.scss */
pre .support.tag.script, pre .support.tag.style {
  color: #2aa198;
  /* cyan */ }

/* line 56, ../scss/theme/solarized-light.scss */
pre .string.regexp {
  color: #2aa198;
  /* cyan */ }

/* line 60, ../scss/theme/solarized-light.scss */
pre .string.regexp.open, pre .string.regexp.close {
  color: #2aa198;
  /* cyan */ }

/* line 64, ../scss/theme/solarized-light.scss */
pre .keyword, pre .selector {
  color: #859900;
  /* green */ }

/* line 68, ../scss/theme/solarized-light.scss */
pre .inherited-class {
  font-style: italic; }

/* line 72, ../scss/theme/solarized-light.scss */
pre .entity {
  color: #b58900;
  /* yellow */ }

/* line 76, ../scss/theme/solarized-light.scss */
pre .support, pre .support.close, *[data-language="c"] .function.call {
  color: #859900;
  /* green */
  font-weight: normal;
  opacity: 1; }

/* line 82, ../scss/theme/solarized-light.scss */
pre .support.method {
  color: #657b83;
  /* base00 */ }

/* line 86, ../scss/theme/solarized-light.scss */
pre .support.property {
  color: #657b83;
  /* base00 */ }

/* line 90, ../scss/theme/solarized-light.scss */
pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #657b83;
  /* base00 */ }

/* line 95, ../scss/theme/solarized-light.scss */
.rainbow {
  padding: 0;
  font-size: 0.9em; }

/* line 99, ../scss/theme/solarized-light.scss */
.rainbow .rainbow-header {
  background-color: #1a1a1a;
  color: #444; }

/* line 103, ../scss/theme/solarized-light.scss */
.rainbow-header .rainbow-language {
  text-align: right;
  padding: 0.5em; }

/* line 108, ../scss/theme/solarized-light.scss */
.rainbow .rainbow-line:hover {
  background-color: #c5c5c5; }

/* line 112, ../scss/theme/solarized-light.scss */
.rainbow-line:hover .rainbow-line-number {
  background-color: #0e0e0e; }

/* line 116, ../scss/theme/solarized-light.scss */
.rainbow-line .rainbow-line-number {
  text-align: right;
  vertical-align: top;
  background-color: #1a1a1a;
  padding-left: 0.4em;
  padding-right: 0.4em; }

/* line 126, ../scss/theme/solarized-light.scss */
.rainbow-line .rainbow-line-number:before {
  content: attr(data-number); }

/* line 130, ../scss/theme/solarized-light.scss */
.rainbow-line .rainbow-line-code {
  padding-left: 1em;
  width: 100%; }
