/*
Title:       html5
Author:      roxanne sutton
Company:     Baseline StudioSystems
Description: default style
Version:	 1.0
*/
/* v1.0 | 20130509 */



/*
1.HTML5 element
2.Base
3.Headings
4.Links
5.Typography
6.Lists
7.Embedded content
8.Figures and Images
9.Forms
10.Tables
11.Banner header[role="banner"]
12.Navigation nav[role="navigation"]
13.Content
14.Main div[role="main"]
15.Complimentary div[role="complementary"]
16.Aside
17.Contentinfo footer[role="contentinfo"]
18.Non-semantic helper classes
19.Vendor Specific
20.Template Specific
21.Modernizer
*/


/* 1.HTML5 element (see HTML5-reset.css)
----------------------------------------------------------*/

/* 2.Base
----------------------------------------------------------*/

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/

/* 17.Contentinfo footer[role="contentinfo"]
----------------------------------------------------------*/

/* 18.Non-semantic helper classes
	Please define your styles before this section.
----------------------------------------------------------*/

/* 19.Vendor Specific
----------------------------------------------------------*/

/* 20.Template Specific
----------------------------------------------------------*/

/* 21.Modernizer
----------------------------------------------------------*/


/* Media queries!
-------------------------------------------------------------------------------*/

/* For progressively larger displays */

// Mobile
@media only screen and (min-width: 21.333em) {
// min-width: 320

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/



/* end mediaquery */
}

// Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: 32.067em) {
// min-width: 480


/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/


/* end mediaquery */
}

@media only screen and (min-width: 32.067em) and (max-width: 41.400em){
// 481px to 621px

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/

/* end mediaquery */
}


@media only screen and (min-width:41.400em) {
// min-width: 621px

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/


/* end mediaquery */
}

// Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (min-width: 51em) {
// min-width: 768px

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/

/* end mediaquery */
}

@media only screen and (min-width: 53.333em) {
	// min-width: 800px
/* end mediaquery */

}

@media screen and (min-width: 54.000em) {
// 810px

/* end mediaquery */
}

@media screen and (min-width: 51.267em) and (max-width: 66.133em) {
// 769 to 992

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/


/* end mediaquery */
}

@media screen and (min-width: 65.333em) {
// 980

}

@media screen and (min-width: 66.133em) {
// 992

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/

/* end mediaquery */
}

// 1200px+ (counting 10px margin)
@media screen and (min-width:81.333em) {
// min 1220px


/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/


/* end mediaquery */
}

@media screen and (min-width: 92.133em) {
// min 1382

/* 3.Links
----------------------------------------------------------*/

/* 4.Headings
----------------------------------------------------------*/

/* 5.Typography
----------------------------------------------------------*/

/* 6.Lists
----------------------------------------------------------*/

/* 7.Embedded content
----------------------------------------------------------*/

/* 8.Figures and Images
----------------------------------------------------------*/

/* 9.Forms (See css/lib/tss-forms.css)
----------------------------------------------------------*/

/* 10.Tables (See css/lib/tss-tables.css)
----------------------------------------------------------*/

/* 11.Banner header[role="banner"] (See css/lib/tss-masthead.css)
----------------------------------------------------------*/

/* 12.Navigation nav[role="navigation"] (See css/lib/tss-nav.css)
----------------------------------------------------------*/

/* 13.Content
----------------------------------------------------------*/

/* 14.Main
----------------------------------------------------------*/

/* 15.Complimentary
----------------------------------------------------------*/

/* 16.Aside
----------------------------------------------------------*/

/* end mediaquery */
}

@media screen and (min-width: 80.000em) {
// min 1200

/* end mediaquery */
}

/* For Retina displays */
@media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	/* 2x */


	/* end mediaquery */
}


/*
Sources of inspiration, knowledge and code:
http://meyerweb.com/eric/tools/css/reset
http://html5doctor.com
http://html5boilerplate.com
http://stuffandnonsense.co.uk/projects/320andup/
http://html5reset.org/
http://people.opera.com/patrickl/experiments/keyboard/test
http://gist.github.com/413930
http://pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap
http://sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars
http://tjkdesign.com/ez-css/css/base.css
http://viget.com/inspire/styling-the-button-element-in-internet-explorer
http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing
http://html5doctor.com/html-5-reset-stylesheet/
http://praegnanz.de/weblog/htmlcssjs-kickstart/
http://camendesign.com/design/
http://yui.yahooapis.com/2.8.1/build/base/base.css
http://webaim.org/techniques/css/invisiblecontent/
http://drupal.org/node/897638
*/

