/* 24. vertical accordian nav
----------------------------------------------------------*/
// used for project tv

.vert-nav {
	display: block;
	width: 100%;
	margin: 0 auto;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.vert-nav li {
	margin-bottom:0;
	padding-bottom:0;
}

.vert-nav > li > a {
	display: block;
	padding: 1.3em .5em;
	font-size: 1em;
	font-weight: 600;
	color: rgb(250, 250, 250);
	text-decoration: none;
	border-bottom: 1px solid rgb(90, 90, 90);
	background-color: #787878;
	background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#6b6b6b));
	background: -webkit-linear-gradient(top, #787878, #6b6b6b);
	background: -moz-linear-gradient(top, #787878, #6b6b6b);
	background: -ms-linear-gradient(top, #787878, #6b6b6b);
	background: -o-linear-gradient(top, #787878, #6b6b6b);
	background: linear-gradient(top, #787878, #6b6b6b);

	span {
		font-weight: 500;
		text-align: right;
		padding-left: .8em;
	}
	span:before {
		content: '(';
	}
	span:after {
		content: ')';
	}

}

.vert-nav > li > a:hover,
.vert-nav > li > a.open {
	color: #e9e9e9;
	border-bottom-color: rgb(109, 109, 109);
	background-color: #7a7a7a;
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#6d6d6d));
	background: -webkit-linear-gradient(top, #7a7a7a, #6d6d6d);
	background: -moz-linear-gradient(top, #7a7a7a, #6d6d6d);
	background: -ms-linear-gradient(top, #7a7a7a, #6d6d6d);
	background: -o-linear-gradient(top, #7a7a7a, #6d6d6d);
	background: linear-gradient(top, #7a7a7a, #6d6d6d);
}

.vert-nav li ul { display: none; background: rgb(235, 235, 235); }

.vert-nav li a.open + ul {display:block;}

.vert-nav li ul li {
	border-bottom: 1px solid rgb(240, 240, 240);
}

.vert-nav li ul li a {
	display: block;
	background: none;
	border-bottom: 1px solid rgb(196, 196, 196);
	padding: 10px 0px;
	padding-left: 10px;
	font-size: 1em;
	text-decoration: none;
	font-weight: 600;
	color: rgb(21, 21, 21);

	em {
		font-weight: 500;
		display: block;
		margin: .4em 0
	}
	em:nth-child(2):before {
		content: 'Prod  #';
		//margin-right: .3em;
		font-weight: 600;
	}
}

.vert-nav li ul li a:hover,
.vert-nav li ul li a.open {
	color: rgb(21, 21, 21);
	background-color: rgb(248, 248, 248);
}

.vert-nav li ul li.selected a {
	color: rgb(21, 21, 21);
	background-color: rgb(248, 248, 248);
}
//
