/* 15.  Success Icon
----------------------------------------------------------*/

//button series CMS
// with feedback circle icon for success

li.protool .tool {
	background-image: none;
	border-radius: 0;
	overflow: visible;
	margin-left: .1em;
	margin-top: -7px;
	width: 16px;
	height: 16px;
}

li.protool .tool-on {
	color: black;
}
li.protool .tool-off {
	color: silver;
}

li.protool .tool:after {
	content: "\00a0";
}
li.protool .tool:before {
	position: relative;
	bottom: 0;
	float: left;
	left: 0%;
	line-height: 1em;
}
li.protool .tool-on:before {
	content: " \2713";
	color: white;
	background-color: rgb(154, 205, 50);
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	border: none;
	border-radius: 1.2em;
	padding-left: .25em
}
li.protool:hover .tool-on:before {
	content: " \2713";
	color: white;
	background-color: rgb(154, 205, 50);
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	border: none;
	border-radius: 1.2em;
	padding-left: .25em
}
li.protool .tool-off:before {
	content: "\039F";
	color: silver;
	background-color: rgb(235, 235, 235);
	font-size: 1.5em;
	bottom: .1em;
}
li.protool:hover .tool-off:before {
	content: "\039F";
	color: silver;
	background-color: rgb(255, 255, 255);
	// font-size: 1.5em;
	bottom: .1em;
}
