/* 18. FlexSlider
----------------------------------------------------------*/

// jQuery FlexSlider v1.8
// http://www.woothemes.com/flexslider/
//
// Copyright 2012 WooThemes
// Free to use under the MIT license.
// http://www.opensource.org/licenses/mit-license.php

// Browser Resets
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none; }

// FlexSlider Necessary Styles
// ----------------------------------------------------------
.flexslider {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 360px; }

.flexslider .slides {
	min-height: 360px;
	background-color: #444; }

.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden; }

// Hide the slides before the JS is loaded. Avoids image jumping
.flexslider .slides img {
	max-width: 100%;
	display: block; }

.flex-pauseplay span {
	text-transform: capitalize; }

// Clearfix for the .slides element
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0; }

html[xmlns] .slides {
	display: block; }

* html .slides {
	height: 1%; }

// No JavaScript Fallback
// If you are not using another script, such as Modernizr, make sure you
// include js that eliminates this class on page load
.no-js .slides > li:first-child {
	display: block; }

// FlexSlider Default Theme
// ----------------------------------------------------------
.flexslider {
	background: white;
	border: 10px solid white;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	zoom: 1; }

.flexslider .slides {
	zoom: 1;
	margin-bottom: .75em; }

.flexslider .slides > li {
	position: relative;
	min-height: 360px;
	height: 500px;
	margin-bottom: 0; }

// Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
//.flex-container {zoom: 1; position: relative; width: 60%; max-width: 500px; margin: 0 0 50px 0; border: 1px solid red; float: left}
// Caption style
// IE rgba() hack
.flex-caption {
	background: none;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1; }

.flex-caption {
	width: 100%;
	padding: 2%;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0em;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }

.flex-caption h4 {
	margin-bottom: .3em;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }

.flex-caption p {
	margin-bottom: .2em; }

.flex-caption a {
	color: white; }

.flex-caption a.readmore {
	color: #58B1EA;
	margin-left: .3em; }

// Direction Nav
.flex-direction-nav {
	height: 0; }

.flex-direction-nav li a {
	width: 52px;
	height: 52px;
	margin: -13px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -999em; }

.flex-direction-nav li .next {
	background-position: -52px 0;
	right: -17px; }

.flex-direction-nav li .prev {
	left: -17px; }

.flex-direction-nav li .disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default; }

// Control Nav
.flex-control-nav {
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	text-align: center;
	background: #000;
	border-top: 1px solid white; }

.flex-control-nav li {
	margin: 0;
	display: inline-block;
	zoom: 1;
	float: left;
	width: 25%; }

.flex-control-nav li:first-child {
	margin: 0; }

.flex-control-nav li a {
	height: 10px;
	display: block;
	background: #000;
	cursor: pointer;
	text-indent: -999em; }

.flex-control-nav li a:hover {
	background: #679dc6; }

.flex-control-nav li a.active {
	background: #679dc6;
	cursor: default; }

.flex-control-nav li:last-child {
	float: right; }

.flexslider.drop-shadow {
	background: white;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	position: relative; }

.flexslider.drop-shadow:before, .drop-shadow:after {
	content: "";
	position: absolute;
	z-index: -2; }

.flexslider.drop-shadow-overflow {
	background: white;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	overflow: visible;
	position: relative;

	@media only screen and (min-width: 32.067em) {
		// 481 and over
		background: rgb(255, 255, 255);
		-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		overflow: visible;
		position: relative;
	}

}

div[role="main"].flexslider.drop-shadow {
	background: white;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	overflow: visible;
	position: relative; }

@media only screen and (min-width: 32.000em) and (max-width: 51.133em) {
	// 480px to 767px
	.flexslider {
		max-width: 100%;
	}

	// end mediaquery
}

@media only screen and (max-width: 51.133em) {
	// 767px
	.flexslider {
		max-width: 100%;
	}

	// end mediaquery
}

@media only screen and (min-width: 51.200em) and (max-width: 64.000em) {
	// 768px to 960px
	.flexslider {
		max-width: 520px;
	}

// end mediaquery
}
